.actions{
    position: fixed;
    display: flex;
    bottom: 0;
    right: 0;
    z-index: 1;

    .new-game, .restart, .hint, .pause{
        background-color: #ffe272;
        border-radius: 10px;
        padding: 5px;
        margin: 5px;
        
        button {
          font-family: monospace;
          border: none;
          background: none;
          font-size: 25px;
          font-weight: bold;
          vertical-align: middle;
          cursor: pointer;
        }
      
        img {
          vertical-align: middle;
          height: 30px;
          width: 30px;
        }

        .resume-button {
          img {
            height: 20px;
            width: 20px;
          }
        }
    }

}